

 <button class="btn btn-primary" routerLink="/registry-dashboard">Log In</button>


<section class="position-relative py-4 py-xl-5">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-8 col-xl-6 text-center mx-auto">
        <h2>Log in</h2>
        <p class="w-lg-50"></p>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-md-6 col-xl-6">
        <div class="card mb-5">
          <div class="card-body d-flex flex-column align-items-center">
            <div class="bs-icon-xl bs-icon-circle bs-icon-primary bs-icon my-4">
              <img src="./assets/ayurveda_hospital_logo.png" alt="hospital logo" width="100px" height="100px">
            </div>
            <form class="text-center" method="post">
              <div class="mb-3"><input class="form-control" type="email" name="email" placeholder="Email" /></div>
              <div class="mb-3"><input class="form-control" type="password" name="password" placeholder="Password" /></div>
              <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit" routerLink="/registry-dashboard">Login</button></div>
              <p class="text-muted">Forgot your password?</p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--<section class="position-relative py-4 py-xl-5">-->
<!--  <div class="container">-->
<!--    <form [formGroup]="form" (ngSubmit)="login()" >-->
<!--    <div class="row mb-5">-->
<!--      <div class="col-md-8 col-xl-6 text-center mx-auto">-->
<!--        <h2>Log in</h2>-->
<!--        <p class="w-lg-50">Curae hendrerit donec commodo hendrerit egestas tempus, turpis facilisis nostra nunc. Vestibulum dui eget ultrices.</p>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="row d-flex justify-content-center">-->
<!--      <div class="col-md-6 col-xl-4">-->
<!--        <div class="card mb-5">-->
<!--          <div class="card-body d-flex flex-column align-items-center">-->
<!--            <div class="bs-icon-xl bs-icon-circle bs-icon-primary bs-icon my-4">-->
<!--            <img src="./assets/ayurveda_hospital_logo.png" alt="hospital logo" width="100px" height="100px">-->

<!--            </div>-->
<!--            <form class="text-center" method="post">-->
<!--              <div class="mb-3"><input class="form-control" type="email" name="username" placeholder="Email" formControlName="username" /></div>-->
<!--              <div class="mb-3"><input class="form-control" type="password" name="password" placeholder="Password" style="padding-right: 8px;margin-right: 91px;" formControlName="password" /></div>-->
<!--              <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit" routerLink="/registry-dashboard">Login</button></div>-->
<!--              <a class="text-muted">Forgot your password?</a>-->
<!--            </form>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    </form>-->
<!--  </div>-->
<!--</section>-->
