.container-fluid{
  display: flex;
  flex-direction: column;
  height: 100vh;
  border: 8px solid black;

  .inner-header{
    background-color: blue;
    flex: 1;
  }

  .inner-body{
    background-color: red;
    flex: 8;
  }


}
