
<!--<nav class="navbar navbar-expand-md bg-body py-3">-->
<!--  <div class="container">-->
<!--    <a class="navbar-brand d-flex align-items-center" href="#">-->
<!--    <span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon">-->

<!--      <img src="./assets/ayurveda_hospital_logo.png" alt="hospital logo" width="50px" height="50px">-->

<!--    </span>-->

<!--    </a>-->
<!--      <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-2">-->
<!--        <span class="visually-hidden">Toggle navigation</span>-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--      </button>-->
<!--      <div id="navcol-2" class="collapse navbar-collapse">-->
<!--        <ul class="navbar-nav ms-auto">-->
<!--          <li class="nav-item"><a class="nav-link active" aria-current="page" routerLink="opd">OPD</a></li>-->
<!--          <li class="nav-item"><a class="nav-link" routerLink="clinic">Clinic</a></li>-->
<!--          <li class="nav-item"><a class="nav-link" routerLink="addmission">Addmission</a></li>-->
<!--          <li class="nav-item"><a class="nav-link" routerLink="discharge">Discharge</a></li>-->
<!--        </ul><a class="btn btn-primary ms-md-2" role="button" href="#">Button</a>-->
<!--      </div>-->
<!--  </div>-->
<!--</nav>-->

<div class="container col-12">
  <app-user-main-header-bar></app-user-main-header-bar>
</div>
<div class="container col-12">
  <router-outlet></router-outlet>
</div>

