
            <button class="btn btn-primary" aria-current="page" routerLink="doctor-main-dashboard">doctor-main</button>
            <button class="btn btn-primary" routerLink="doctor-patient-dashboard">doctor-patient</button>
            <button class="btn btn-primary" routerLink="doctor-appoinments-dashboard">doctor-appoinments</button>
            <button class="btn btn-primary" routerLink="doctor-contact-dashboard">doctor-contact</button>
  <div class="outer">
    <div class="inner-up">
      <app-user-main-header-bar></app-user-main-header-bar>
    </div>
    <div class="inner-down">
      <router-outlet></router-outlet>
    </div>
  </div>


