<div class="outer">
  <div class="inner-left">
    <div class="inner-left-upper">
      <label >Welcome Back</label>
      <label style="color:#2196F3;font-weight: bold;font-size:40px">Dr. Ravindu Wanshanatha</label>
      <label>Gynecologist,MBBS,MD</label>
    </div>
    <div class="inner-left-bottom">

      <div class="row">
        <div class="col-4">
          <app-mini-stat-widget
            [backgroundColor]="'#F1F8E9'"
            [leftLabel]="'Patients'"
            [leftValue]="20"
            [IconColor]="'#4CAF50'"
          ></app-mini-stat-widget>
        </div>
        <div class="col-4">
          <app-mini-stat-widget
            [backgroundColor]="'#E1F5FE'"
            [leftLabel]="'Patients'"
            [leftValue]="233"
            [IconColor]="'#42A5F5'">
          </app-mini-stat-widget>
        </div>
        <div class="col-4">
          <app-mini-stat-widget
            [backgroundColor]="'#FFF9C4'"
            [leftLabel]="'Patients'"
            [leftValue]="42"
            [IconColor]="'#FFCA28'"
          >

          </app-mini-stat-widget>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <app-mini-stat-widget
            [backgroundColor]="'#FCE4EC'"
            [leftLabel]="'Patients'"
            [leftValue]="750"
            [IconColor]="'#EC407A'"
          ></app-mini-stat-widget>
        </div>
        <div class="col-4">
          <app-mini-stat-widget
            [backgroundColor]="'#F3E5F5'"
            [leftLabel]="'Patients'"
            [leftValue]="400"
            [IconColor]="'#BA68C8'"
          ></app-mini-stat-widget>
        </div>
        <div class="col-4">
          <app-mini-stat-widget
            [backgroundColor]="'#FBE9E7'"
            [leftLabel]="'Patients'"
            [leftValue]="192"
            [IconColor]="'#FF7043'"
          ></app-mini-stat-widget>
        </div>
      </div>


    </div>
  </div>
  <div class="inner-right">
    <img src="./assets/doctor-page-assets/doctor-stat-img.png" alt="doctor-stat-sec-img">
  </div>
</div>
